.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: rem(200px);
}

.footer__list{
    display: flex;
    justify-content: space-between; 
}
.footer__link{
    margin-right: rem(25px);
}

.footer__link:last-child{
    margin-right: rem(0px);
}
