.slider{
    height: rem(780px);
    background: #3A4574; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top:rem(20px);
}

.slider__covichki{
    position: relative; 
    bottom:rem(20px); 
}

.slider__text{
    position: relative; 
    top:rem(0px);
}

.slider__title{
    font-style: normal;
    font-weight: 600;
    font-size: rem(36px);
    line-height: rem(40px);
    color: #D3B47F;
}


.slider__subtitle{
   width: rem(750px);
   position: relative; 
   bottom:rem(15px);
}
.slider__desc{
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(40px);
    text-align: center;
    color: #FFFFFF;
}

.slider__title__one{
    font-style: normal;
    font-weight: 600;
    font-size: rem(24px);
    line-height: rem(40px);
    color: #D3B47F;
    letter-spacing: 0.245em;
}
